/* page.module.css */
.section {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #243A5A;
}

.contentContainer {
    display: flex;
    padding-left: 250px;
    width: 80%;
    flex-wrap: wrap;
}

.heading {
    font-size: 27px;
    margin-bottom: 20px;
    color: #fff;
}

.heading span {
    color: #47e6a6;
    font-size: 27px;
}

.paragraph {
    display: flex;
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 20px;
    color: #dacece;

}

.technologyButtons {
    display: flex;
    width: 100%;
}

.searchButton {
    border-radius: 10px;
    background-color: #243A5A;
    color: #9ba99c;
    padding-left: 10px;
    padding-right: 7px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    height: 30px;
    border: 1.5px solid #959c95;

}

.technologyButton {
    border-radius: 10px;
    background-color: #243A5A;
    color: #47e6a6;
    padding: 5px 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    height: 12px;
    width: 55px;
    font-weight: 700;
}

.technologyButton {
    border: 1.5px solid #47e6a6;
}

.searchButton {}

.profileImageContainer img {
    padding-right: 250px;
    height: 270px;
}

.profileImageContainerx img {
    padding-right: 219px;
    height: 270px;
}